.top-container{
    background-color: #1B262C;
    position: relative;
    padding-top: 50px;
}

p{
    line-height: 2;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #90E0EF;
    margin-top: 0;
}

/*p{
    margin-top: 0;
}*/
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #90E0EF;
  margin-top: 0;
}

h3{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #0A91AB;
}

a{
  color: #3282B8;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #B8FFF9 6px;
  margin: 100px auto;
  width: 5%;
  border-bottom: none;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #393E46;
  background-color: #DBF6E9;
}

.mountain{
  width: 100%;
}

.moon{
  position: absolute;
  top: 5%;
  right: 5%;
  max-width: 25%;
}

.intro{
  width: 30%;
  margin: auto;
}

.middle-container{
  margin: 100px 0;
  position: relative;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 20px 0;
}

.circle-crop{
  border-radius: 125px;
  margin: 20px;
  width: 180px;
}

.skill-row{
  margin: 100px auto;
  border: 0;
  position: relative;
  width: 50%;
  text-align: left;
  display: inline-block;
}

.marketing{
  border-radius: 125px;
  margin: 20px;
  width: 25%;
  float: left;
}

.circuit{
  border-radius: 125px;
  margin: 20px;
  width: 25%;
  float: right;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.contact-me{
  margin-bottom: 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
